/* ---------------------------------
基本設定
--------------------------------- */
#wrapper {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W', 'Hiragino Kaku Gothic Pro', 'メイリオ', '游ゴシック', '游ゴシック体', sans-serif;
}

@media (max-width: 800px) {
  section {
    padding: 70px 0;
  }

  .heading {
    width: 32%;
  }
}
