.section__wrapper {
  margin: 0 110px;
}

.btn {
  display: block;
  width: 300px;
  padding: 22px 50px 15px 54px;
  margin: auto;
  font-family: $font-yugo;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: #0058ad;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3.6px;
  background-color: #ffac50;
}
